# === Visual Studio ===
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj

# === Répertoires de build ===
x64/
Debug/
PROJET_OpenGL/

# === DLLs / Libs binaires ===
*.exp

# === Autres trucs à éviter ===
INFOS.txt
*.DS_Store
Thumbs.db

# === Models ===
models/*
!models/voiture_gltf
!models/terrain
!models/cactus
!models/pierre
!models/bois
!models/herbe
!models/crane
!models/chariot
!models/bois_abandon