# === Visual Studio ===
.vs/
*.vcxproj.user
*.obj

# === Répertoires de build ===
x64/
Debug/
Release/
opengl_car_simulator/

# === DLLs / Libs binaires ===
*.exp

# === Autres trucs à éviter ===
INFOS.txt
*.DS_Store
Thumbs.db

# === Textures ===
textures/*
!textures/terrain
!textures/skybox/*

# === Models ===
models/*
!models/voiture
!models/cactus
!models/pierre
!models/bois
!models/palmier
!models/herbe
!models/crane
!models/chariot

